[submodule "Plugin/AclExtras"]
	path = Plugin/AclExtras
	url = https://github.com/markstory/acl_extras.git
[submodule "Plugin/DebugKit"]
	path = Plugin/DebugKit
	url = https://github.com/cakephp/debug_kit.git
[submodule "Plugin/Media"]
	path = Plugin/Media
	url = https://github.com/davidpersson/media.git
[submodule "Plugin/Search"]
	path = Plugin/Search
	url = https://github.com/CakeDC/search.git
[submodule "Plugin/Cacher"]
	path = Plugin/Cacher
	url = https://github.com/jeremyharris/cacher.git
[submodule "Plugin/Sanitizer"]
	path = Plugin/Sanitizer
	url = https://github.com/jeremyharris/sanitizer.git
[submodule "Plugin/Slugger"]
	path = Plugin/Slugger
	url = https://github.com/jeremyharris/slugger.git
[submodule "Plugin/QueueEmail"]
	path = Plugin/QueueEmail
	url = https://github.com/jeremyharris/queue_email.git
[submodule "Plugin/AssetCompress"]
	path = Plugin/AssetCompress
	url = https://github.com/jeremyharris/asset_compress.git
[submodule "Plugin/MultiSelect"]
	path = Plugin/MultiSelect
	url = https://github.com/jeremyharris/multi_select.git
[submodule "Vendor/CssToInlineStyles"]
	path = Vendor/CssToInlineStyles
	url = https://github.com/tijsverkoyen/CssToInlineStyles.git
