[submodule "plugins/acl_extras"]
	path = plugins/acl_extras
	url = http://github.com/markstory/acl_extras.git
[submodule "plugins/debug_kit"]
	path = plugins/debug_kit
	url = http://github.com/cakephp/debug_kit.git
[submodule "plugins/media"]
	path = plugins/media
	url = http://github.com/davidpersson/media.git
[submodule "plugins/referee"]
	path = plugins/referee
	url = http://github.com/joebeeson/referee.git
[submodule "plugins/api_generator"]
	path = plugins/api_generator
	url = http://github.com/cakephp/api_generator.git
[submodule "plugins/search"]
	path = plugins/search
	url = http://github.com/CakeDC/search.git
[submodule "plugins/cacher"]
	path = plugins/cacher
	url = git@codaset.com:jeremyharris/cacher.git
[submodule "plugins/sanitizer"]
	path = plugins/sanitizer
	url = git://codaset.com/jeremyharris/sanitizer.git
[submodule "plugins/slugger"]
	path = plugins/slugger
	url = git://codaset.com/jeremyharris/slugger.git
[submodule "plugins/queue_email"]
	path = plugins/queue_email
	url = git://codaset.com/jeremyharris/queue-email.git
[submodule "plugins/asset_compress"]
	path = plugins/asset_compress
	url = git@github.com:jeremyharris/asset_compress.git
[submodule "plugins/named_scope"]
	path = plugins/named_scope
	url = https://codaset.com/joelmoss/cakephp-named-scope.git
