[submodule "app/plugins/acl_extras"]
	path = app/plugins/acl_extras
	url = http://github.com/markstory/acl_extras.git
[submodule "app/plugins/debug_kit"]
	path = app/plugins/debug_kit
	url = http://github.com/cakephp/debug_kit.git
[submodule "app/plugins/media"]
	path = app/plugins/media
	url = http://github.com/davidpersson/media.git
[submodule "app/plugins/referee"]
	path = app/plugins/referee
	url = http://github.com/joebeeson/referee.git
[submodule "app/plugins/api_generator"]
	path = app/plugins/api_generator
	url = http://github.com/cakephp/api_generator.git
[submodule "app/plugins/search"]
	path = app/plugins/search
	url = http://github.com/CakeDC/search.git
[submodule "app/plugins/cacher"]
	path = app/plugins/cacher
	url = git@codaset.com:jeremyharris/cacher.git
[submodule "app/plugins/sanitizer"]
	path = app/plugins/sanitizer
	url = git://codaset.com/jeremyharris/sanitizer.git
[submodule "app/plugins/slugger"]
	path = app/plugins/slugger
	url = git://codaset.com/jeremyharris/slugger.git
[submodule "app/plugins/queue_email"]
	path = app/plugins/queue_email
	url = git://codaset.com/jeremyharris/queue-email.git
[submodule "app/plugins/asset_compress"]
	path = app/plugins/asset_compress
	url = git://github.com/markstory/asset_compress.git
