.fc {
	background: #ffffff;
}
.fc table {
	margin-bottom: 0;
}

.fc tr {
	height:auto;
	line-height: 1;
}
.fc-header {
	border: 1px solid #cccccc;
	border-bottom: none;
}
#nav-calendar .fc-header {
	border:none;
}
.fc-header .fc-state-default, .fc-header .fc-state-default a, .fc-header .fc-state-default span {
	border: none;
	background:none;
	padding:0;
}
.fc-state-hover {
	color: #cccccc;
}
.fc-button-prev, .fc-button-next {
	background:none;
	padding: 0;
	margin: 0;
}
.fc-button-prev a:hover, .fc-button-next a:hover {
	color:#cccccc;
}
.fc-header-title {
	font-size: 16px;
	margin: 5px 0;
}
.fc-header-left table {
	width:auto;
	float: right;
}
.fc-header-right table {
	width:auto;
	float: left;
}
.fc-content {
	color: #666666;
	border-top:none;
}
#nav-calendar .fc-content {
	border:none;
}
.fc-content th {
	font-family: Lucida Sans,Helvetica,Arial,sans-serif;
	color:#cccccc;
	background:none;
	font-size:11px;
	border:none;
	text-transform: none;
}
.mini-calendar .fc-day-content div {
	display:none;
}
.fc-content tr:hover, .fc-header tr:hover {
	background:none;
}
.fc-grid thead th {
	border-bottom: 1px solid #cccccc;
}
.fc-grid thead th.fc-first {
	border-left: 1px solid #cccccc;
}
.fc-grid thead th.fc-last {
	border-right: 1px solid #cccccc;
}
.fc-grid .fc-other-month .fc-day-number, .fc-grid .fc-other-month .fc-day-content {
	visibility: hidden;
}
.fc-grid .fc-other-month {
	background:none;
}
.mini-calendar .fc-event {
	display:none;
}
.fc-grid .event {
	background:#d0f4e4;
}
.fc-grid .fc-day-number {
	padding: 5px;
	
	font-family: LeagueGothicRegular,Lucida Sans,Helvetica,Arial,sans-serif;
	font-size: 14px;
	color:#666666;
	text-align: center;
}
.fc-grid .fc-today .fc-day-number {
	color:#000000;
}

.fc-event-skin,
.full-calendar .fc-event, 
.fc-agenda .fc-event-time, 
.full-calendar .fc-event a {
	background-color: #B5FFDC;
	border-color: #16B96D;
	border-style: solid;
	color:#666666;
}