table {
	width: 100%;
	border-collapse: separate;
	margin-bottom: 20px;
}
table tr {
	line-height: 22px;
}
table.datatable tbody {

}
table.datatable tr {
	line-height: 20px;
}
table.datatable .altrow td {
	background: #ededed;
}
table.datatable .core-checkbox {
	top: 2px;
}
table.datatable .multi-select th {
	border-bottom: 1px solid #cccccc;
	font-family: Lucida Sans,Helvetica,Arial,sans-serif;
	font-size:10px;
	text-transform: none;
	padding:0;
}
table.datatable .multi-select .core-checkbox {
	top: 0;
}
table.datatable .multi-select th:first-child {
	padding-left:7px;
	background: #ededed;
	width: 20px;
	height:20px;
	vertical-align: middle;
}
table.datatable .multi-select th:first-child input {
	margin-top:0;
	margin-bottom:0;
}
table.datatable .multi-select a {
	border-right:1px solid #cccccc;
	display:inline-block;
	height:100%;
	line-height:20px;
	padding:0 5px;
	background: #ededed;
	font-weight: normal;
}
table.datatable th {
	font-family: LeagueGothicRegular,Lucida Sans,Helvetica,Arial,sans-serif;
	font-size:16px;
	padding:5px;
	text-transform: uppercase;
	text-align: left;
	border-right: 1px solid #cccccc;
	font-weight: normal;
}
table.datatable .multi-select a:last-child, table.datatable th:last-child, table.datatable td:last-child, table.datatable th:first-child, table.datatable td:first-child {
	border:none;
}
table.datatable th a.asc:after {
	content: ' ⇣';
}
table.datatable th a.desc:after {
	content: ' ⇡';
}
table.datatable td {
	padding: 2px 7px;
	border-right: 1px solid #cccccc
}
.ui-dialog .ui-tabs-panel table.datatable .altrow td, .sub-tabs .ui-tabs-panel table.datatable .altrow td {
	background: #ffffff;
}
table.datatable tbody tr:hover td, .hover-row:hover {
	background:#d0f4e4 !important;
}