.wysihtml5-toolbar {
	padding: 5px;
	
	border: 1px solid #838383;
	border-bottom: none;
}

.wysihtml5-toolbar .input div,
.wysihtml5-toolbar div {
	margin: 0;
	padding: 0;
}

.wysihtml5-toolbar .dialogs div[data-wysihtml5-dialog] {
	padding-top: 10px;
}

.wysihtml5-toolbar .dialogs label {
	display: inline;
}

.wysihtml5-toolbar .separator {
	display: block; 
	width: 1px; 
	height: 16px;
	float: left;
	margin: 0 5px;
	
	border-right: 1px solid #838383;
}

.wysihtml5-toolbar .tools .tool {
	display: block; 
	width: 16px; 
	height: 16px;
	float: left;
	margin: 0 3px;
	
	text-indent: -5000px;
	color: #838383;
	
	background-color: #ffffff;
	background-image:  url('../assets/jquery.wysiwyg.gif');
}

.wysihtml5-toolbar .tools a:first-child {
	margin-left: 0;
}

.wysihtml5-toolbar .tools a.wysihtml5-command-active,
.wysihtml5-toolbar .tools a:hover {
	background-color: #f1f1f1;
}

.font-size,
.fore-color {
	position: relative;
}

.font-size ul,
.fore-color ul {
	display: none;
	position: absolute;
	z-index: 2;
	top: 16px;
	right: -1px;
	left: -2px;
	overflow: hidden;
	width: 100px;
	
	border: 1px solid #ccc;
	/* to align it with the toolbar's bottom */
	border-top: 11px solid #fff;
	
	background: #fff;
}

.font-size li,
.fore-color li {
	display: block;
	margin: 3px;
	width: auto;
	
	cursor: pointer;
	
	border: 0;
}

.font-size li {
	text-indent: 0;
}

.fore-color li {
	height: 15px;
}

.font-size:hover ul,
.fore-color:hover ul {
  display: block;
}

.fore-color [data-wysihtml5-command-value="silver"] {
	background: silver;
}

.fore-color [data-wysihtml5-command-value="gray"] {
	background: gray;
}

.fore-color [data-wysihtml5-command-value="maroon"] {
	background: maroon;
}

.fore-color [data-wysihtml5-command-value="red"] {
	background: red;
}

.fore-color [data-wysihtml5-command-value="purple"] {
	background: purple;
}

.fore-color [data-wysihtml5-command-value="green"] {
	background: green;
}

.fore-color [data-wysihtml5-command-value="olive"] {
	background: olive;
}

.fore-color [data-wysihtml5-command-value="navy"] {
	background: navy;
}

.fore-color [data-wysihtml5-command-value="blue"] {
	background: blue;
}

.fore-color [data-wysihtml5-command-value="black"] {
	background: black;
}

.font-size [data-wysihtml5-command-value="small"] {
	font-size: 11px;
}

.font-size [data-wysihtml5-command-value="medium"] {
	font-size: 13px;
}

.font-size [data-wysihtml5-command-value="large"] {
	font-size: 15px;
}

.font-size [data-wysihtml5-command-value="x-large"] {
	font-size: 17px;
}

.wysihtml5-toolbar .tools a[data-wysihtml5-command="bold"] {
	background-position: 0 -16px;
}

.wysihtml5-toolbar .tools a[data-wysihtml5-command="italic"] {
	background-position: -16px -16px;
}

.wysihtml5-toolbar .tools a[data-wysihtml5-command="underline"] {
	background-position: -48px -16px;
}

.wysihtml5-toolbar .tools a[data-wysihtml5-command="insertOrderedList"] {
	background-position: -32px -48px;
}

.wysihtml5-toolbar .tools a[data-wysihtml5-command="insertUnorderedList"] {
	background-position: -16px -48px;
}

.wysihtml5-toolbar .tools a[data-wysihtml5-command="createLink"] {
	background-position: -80px -48px;
}

.wysihtml5-toolbar .tools a[data-wysihtml5-action="change_view"] {
	background-position: -48px -48px;
}

.wysihtml5-toolbar .tools li[data-wysihtml5-command-group="foreColor"] {
	background-position: -16px -96px;
}

.wysihtml5-toolbar .tools li[data-wysihtml5-command-group="fontSize"] {
	background-position: -48px -80px;
}
