/*
Yes, IE gets its own stylesheet :/
*/

div.content-box,
.shadow {
	margin-left:-3px;
	filter:
		progid:DXImageTransform.Microsoft.Shadow(color=#999999direction=90,strength=8)
}
div.mapset.history {
	filter:Alpha(Opacity=0);
}