/*
Yes, IE gets its own stylesheet :/
*/

div#header>div#primary>ul>li>ul,
div.content-box,
.shadow {
	margin-left:-3px;
	filter:
		/*progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=0,strength=3)*/
		progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=90,strength=5)
		progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=180,strength=5)
		progid:DXImageTransform.Microsoft.Shadow(color=#999999,direction=270,strength=3);
}