/*
Main navigation CSS file
*/

/*
Global styles
*/
div#header {
	height:29px;
	background: #ffffff;
}
div#header div#primary {
	background: rgb(48,48,48);
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(48,48,48)),
		color-stop(0.61, rgb(68,68,69))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(48,48,48) 25%,
		rgb(68,68,69) 61%
	);
	background-image: url('../assets/images/header-bottom.png') repeat-x;
	height:100%;
	margin:0;
}
div#header div#primary>ul>li {
	border-right: 1px solid #838383;
	height:100%;
}
div#header div#primary>ul>li>a:hover {
	background: rgb(55,174,107);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(55,174,107)),
		color-stop(0.61, rgb(69,218,136))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(55,174,107) 0%,
		rgb(69,218,136) 61%
	);
	color: #343434;
	text-decoration: none;
}
div#header div#primary>ul>li>a {
	color:#FFF;
	text-transform: uppercase;
	font-family: LeagueGothicRegular,'Lucida Sans',Helvetica,Arial,sans-serif;
	text-decoration: none;
	font-style:normal;
	font-size: 16px;
	height:100%;
	line-height:30px;
}
div#header div#primary>ul>li>ul {
	border: 1px solid #acacac;
	border-top:none;
	background: #FFF;
}

/**
Home
**/
#nav-home a {
	padding:0 10px;
}

/**
Profile
*/
li#nav-profile .profile-information {
	margin: 5px;
	color: #807980;
	float:left;
	font-size:10px;
}
li#nav-profile .profile-image {
	float:left;
	margin: 5px;
}
li#nav-profile .profile-name {
	color:#303030;
	text-transform: uppercase;
	font-size:22px;
	font-family: LeagueGothicRegular,'Lucida Sans',Helvetica,Arial,sans-serif;
}
li#nav-notifications {
	position:relative;
}
li#nav-notifications .alert p {
	color: #e03a14;
	background: #ffcbbf;
	border: 1px solid #e03a14;
	padding: 2px 5px;
}
li#nav-notifications .alert {
	margin-right: 0 !important;
}
li#nav-notifications .notification p {
	color:#807980;
	margin:5px 0;
	margin-bottom:5px;
	padding:0 5px;
	clear:both;
	position: relative;
	width:350px;
}
li#nav-notifications .notification {
	margin:0;
	margin-right:20px;
}
li#nav-notifications p a {
	display:inline;
	padding:0;
}
li#nav-notifications .delete {
	background-image: url('../assets/images/icons.png');
	background-position: -96px 0px;
	padding:0;
	height:16px;
	width:16px;
	overflow:hidden;
	text-indent:-99999px;
	position:absolute;
	top:0;
	right:-18px;
	display: none;
}
li#nav-notifications .delete:hover {
	background-position: -96px -16px;
}
.notification-read {
	border-left:3px solid transparent;
}
.notification-unread {
	border-left:3px solid #e03a14;
}
li#nav-notifications .notification-counter {
	background:#e03a14;
	display:block;
	position:absolute;
	top:0;
	right:5px;
}
li#nav-notifications .notification-count {
	font-family: LeagueGothicRegular,Helvetica,Arial,sans-serif;
	font-size:16px;
	color:#ffffff;
	padding:3px 3px 0;
}
li#nav-notifications .notification-flag {
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 6px;
}
li#nav-notifications .notification-flag img {
	width: 100%;
	height: 6px;
}
li#nav-notifications li.notification {
	padding: 0 5px;
	position:relative;
}
li#nav-notifications li#notification-viewall, li#nav-calendar li#calendar-viewall {
	padding:5px;
	text-align: center;
	background: #eaeaea;
	border-top: 1px solid #cccccc;
}
li#nav-notifications li#notification-viewall a, li#nav-calendar li#calendar-viewall a {
	display:inline;
}
div#header div#secondary {
	line-height: 30px;
	text-transform: uppercase;
	background:#ffffff;
	height:100%;
	text-align: right;
	font-size:10px;
}

/*
Search
*/
#nav-search {
	padding-left:10px;
	padding-top:5px;
	border-right:none !important;
}
#nav-search button {
	height:19px;
	float:left;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	margin-left:-2px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(55,174,107)),
		color-stop(0.61, rgb(69,218,136))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(55,174,107) 0%,
		rgb(69,218,136) 61%
	);
	margin-top:0;
}
#nav-search input[type=text] {
	font-size:9px;
	float:left;
	border:none;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
}

/*
Ministry menu CSS
*/
#nav-ministries .campuses {
	width:100%;
}
#nav-ministries ul.ministry-column {
	width:200px;
	float:left;
	margin-left:5px;
}
#nav-ministries li {
	margin-bottom: 10px;
}
#nav-ministries a.parent-ministry {
	font-size: 11px;
	padding: 0;
	padding-bottom:1px;
	font-weight: bold !important;
}
#nav-ministries a.child-ministry {
	display:inline;
	padding:0;
	font-size: 10px;
}

/*
Dropdown menu CSS
*/
.main-nav-menu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	}
.main-nav-menu ul{
	list-style:none;
	margin:0;
	padding:0;
	height:100%;
	background: url('../assets/images/header-bottom.png') repeat-x scroll 0 100% transparent;
	padding-bottom: 7px;
	}
	.main-nav-menu li{
		float:left;		
		height:100%;
		}
	.main-nav-menu li a{
		display:block;
		margin:0px;
		padding:0 30px;
		text-align:center;
		}
	.main-nav-menu li ul{
		display:none;
		height:auto;		
		margin:0px;
		border:0px;
		position:absolute;
		z-index:200;
		max-width:550px;
		padding-bottom: 0px;
		background: transparent;
		/*top:1em;
		/*left:0;*/
		}
	.main-nav-menu ul>li>ul>li>ul{
		position:relative;
	}
	.main-nav-menu li:hover ul{
		display:block;		
	}
	.main-nav-menu li li {
		display:block;
		float:none;
		margin:0px;
		padding:0px;
		min-width:160px;
		}
	.main-nav-menu li:hover li a{
		background:none;		
		}
	.main-nav-menu li ul a{
		display:block;
		font-style:normal;
		margin:0px;
		padding:5px;
		text-align:left;
		}
		.main-nav-menu li ul a:hover, .main-nav-menu li ul li:hover a{
			border:0px;
			}
	.main-nav-menu p{
		clear:left;
		}	

		