html {
	height:100%;
}
body {
	background: #EAEAEA;
	font-family: Lucida Sans,Helvetica,Arial,sans-serif;
	font-size:11px;
	height:100%;
	margin:0;
}
div#wrapper {
	background:#FFF;
	height:100%;
}

/*
Global Styles
*/
h1, h2, h3 {
	font-family: LeagueGothicRegular,Lucida Sans,Helvetica,Arial,sans-serif;
	font-weight:normal;
	text-transform: uppercase;
}
div .content-box h1 { display:none; }
h1 { font-size: 44px; margin:0 -10px; margin-bottom:10px; }
h2 { font-size: 20px;}
h3 { font-size: 16px; margin:0; text-transform: uppercase; }

/*
Flags and icons
*/
.flagged {
	padding-left:20px;
	background:url('../img/warning.icon.png') no-repeat 0 50%;
}
.inactive {
	padding-left:20px;
	background:url('../img/inactive.icon.png') no-repeat 0 50%;
}
.private {
	padding-left:20px;
	background:url('../img/private.icon.png') no-repeat 0 50%;
}

/*
Highlight and flash classes
*/
.highlight {
	border-bottom: 2px dashed #000;
}
div.message {
	clear: both;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 1em 0;
	padding: 5px;
}

div.error {
	color: #fff;
	background: #c73e14;
}

div.success {
	background: green;
	color: #fff;
}

div.change {
	background: purple;
	color:#FFF;
}

div.message a {
	color:#fff;
}

/*
Global Classes
*/
div.content-box,
.shadow {
	box-shadow:0 0 0pt, 0 2px 8px #D7D7D7, 0 0 8px #ABABAB, 0 0 1px #D7D7D7;
	-moz-box-shadow:0 0 0pt, 0 2px 8px #D7D7D7, 0 0 8px #ABABAB, 0 0 1px #D7D7D7;
	-webkit-box-shadow:0 0 0pt, 0 2px 8px #D7D7D7, 0 0 8px #ABABAB, 0 0 1px #D7D7D7;
}

p {
	margin-top:0;
}

/*
Links
*/
a {
	color: #666666;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/*
Containers
*/
div.content-box{	
	background:#FFFFFF;
	padding: 10px;
	margin:0 -12px;
}
div#content {
	padding-bottom:30px;
	padding-top:30px;
}
span.breadcrumb {
	font-size:10px;
	margin:0 -12px;
}
#columns .column {
	height:130px;
}
#columns .column .font-large {
	font-size: 52px;
	font-family: LeagueGothicRegular,Lucida Sans,Helvetica,Arial,sans-serif;
}
#columns .border-right {
	border-right: 1px solid #cccccc;
}

/*
Small Tabs
*/
ul.core-admin-tabs {	
	bottom:-20px;
	padding:0;
	position:absolute;
	right:0px;	
	list-style:none;
	margin:0 -12px;
	padding:0;
}
ul.core-admin-tabs li {
	background:url("images/ui-bg_highlight-soft_20_343434_1x100.png") repeat-x scroll 50% 50% #343434;
	float:left;
	font-size:10px;
	font-style:italic;	
	height:20px;
	line-height:20px;
	margin-left:5px;
}
ul.core-admin-tabs li:hover {
	background:url("images/ui-bg_highlight-soft_75_16b96d_1x100.png") repeat-x scroll 50% 50% #16B96D;
}
ul.core-admin-tabs a {
	color:#FFFFFF;
	padding:0 5px;
	display:block;
}
ul.core-admin-tabs a:hover {
	color:#212121;
	text-decoration: none;
}

/*
Tooltip
*/
.qtip {
	z-index: 15000;
}
.qtip .qtip-contentWrapper {	
	border: none !important;	
}
.qtip .qtip-content {
	background: #343434 !important;
	color: #ffffff !important;
	padding: 5px !important;
}
.qtip a {
	color: #ffffff;
	text-decoration: none;
	float:left;
	height:20px;
	line-height:20px;
	padding: 0 5px;
	min-width: 80px;
}
.qtip img {
	float:left;
	margin-right:5px;
}
.qtip a:hover {
	color: #343434;
	background:url("images/ui-bg_highlight-soft_75_16b96d_1x100.png") repeat-x scroll 50% 50% #16B96D;
}

/*
Form Styles
*/
input.search-out {
	color: #CCC;
	font-style: italic;
}
input.search-over {
	color: #807980;	
}
form {
	padding-bottom:10px;
}
div.input {
	padding: 5px 0px;
}
div.input label {
	display:block;
}
div.input input {
	padding:3px;
}
div.toggle, div.checkbox, div.checkbox label {
	display: inline-block;
}