html {
	height:100%;
}
body {
	background: #EAEAEA;
	font-family: Helvetica,Arial,sans-serif;
	font-size:11px;
	height:100%;
	margin:0;
}
div#wrapper {
	background:#FFF;
	height:100%;
}

/*
Header Styles
*/
div#header {
	height:29px;
}
div#header>div#primary {
	background: url(images/ui-bg_highlight-soft_20_343434_1x100.png) #343434 repeat-x 50% 50%;
	height:100%;
	margin:0;
}
div#header>div#primary>ul>li>ul {
	background: #FFF;
}
div#header>div#primary a {
	color: #807980;
	font-style: italic;
}
div#header>div#primary a:hover {
	text-decoration: underline;
}
div#header>div#primary>ul>li {
	border-right: 1px solid #706F6F;
}
div#header>div#primary>ul>li>a:hover {
	background: url(images/ui-bg_highlight-soft_75_16b96d_1x100.png) #16b96d repeat-x 50% 50%;
	color: #343434;
	text-decoration: none;
}
div#header>div#primary>ul>li>a {
	color:#FFF;
	text-transform: uppercase;
	font-family: LeagueGothicRegular,Helvetica,Arial,sans-serif;
	text-decoration: none;
	font-style:normal;
	font-size: 16px;
	padding: 5px 10px;
}
li#nav-profile li.profile-link a {
	font-family: LeagueGothicRegular,Helvetica,Arial,sans-serif;
	font-size: 18px;
	text-transform:uppercase;
	text-decoration: none !important;
	font-style:normal !important;
}
li#nav-profile li.profile-link a:hover {
	text-decoration: none !important;
}
li#nav-profile .profile-information {
	margin: 5px;
	color: #807980;
	float:left;
}
li#nav-profile .profile-image {
	float:left;
	margin: 5px;
}
li#nav-profile .profile-name {
	color:#303030;
	text-transform: uppercase;
	font-size:22px;
	font-family: LeagueGothicRegular,Helvetica,Arial,sans-serif;
}
li#nav-profile .profile-address {
	color:#807980;
	font-size:10px;
}
li#nav-profile .profile-address a {
	color:#807980;
	font-family: Helvetica,Arial,sans-serif;
	display:inline;
	padding:0;
}
li#nav-ministries li {
	float:left;
	padding:5px;
	max-width: 160px;
}
li#nav-ministries a.parent {
	font-family: LeagueGothicRegular,Helvetica,Arial,sans-serif;
	font-size: 18px;
	padding: 0;
	padding-bottom:1px;
	text-transform:uppercase;
	font-style:normal !important;
}
li#nav-ministries a.parent:hover {
	text-decoration: none !important;
}
li#nav-ministries a.child {
	display:inline;
	padding:0;
	font-size: 10px;
}
div#header>div#secondary {
	background:#FFF;
	height:100%;
	text-align: right;
	font-size:10px;
}
div#header>div#secondary a {
	color:#807980;
	line-height: 30px;
	text-transform: uppercase;
}
div#header>div#primary #nav-search {
	padding-left:5px;
	padding-top:5px;
	float:left;
}
div#header>div#primary #nav-search button {
	height:18px;
	float:left;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	margin-left:-2px;
}
div#header>div#primary #nav-search input[type=text] {
	font-size:9px;
	float:left;
}

/*
Global Styles
*/
h1, h2, h3 {
	font-family: LeagueGothicRegular,Helvetica,Arial,sans-serif;
	font-weight:normal;
}
h1 { font-size: 40px; margin-bottom:10px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; }

a {
	color:#16B96D;
}
a:hover {
	color: #807980;
	text-decoration: underline;
}

/*
Global Classes
*/
div#header>div#primary>ul>li>ul,
div.content-box,
.shadow {
	box-shadow:0 0 0, 0 2px 8px #999999, 0 0 5px #666666, 0 0 1px #999999;
	-moz-box-shadow:0 0 0,0 2px 8px #999999, 0 0 5px #666666, 0 0 1px #999999;
	-webkit-box-shadow:0 0 0,0 2px 8px #999999, 0 0 5px #666666, 0 0 1px #999999;
	border: 1px solid #999;
}

/*
Containers
*/
div.content-box{	
	background:#FFFFFF;
	padding:10px;
}
div#content {
	padding-bottom:30px;
}

/*
Form Styles
*/
input.search-out {
	color: #CCC;
	font-style: italic;
}
input.search-over {
	color: #807980;	
}